{
  'presets' : [
    '@babel/react',
    [
      '@babel/preset-env',
      {
        'targets' : {
          'browsers' : ['last 2 versions', '> 5% in SG', 'not ie <= 10']
        },
        'debug' : true
      }
    ]
  ],
  'env': {
    'test': {
      'plugins': [
        '@babel/plugin-proposal-export-default-from',
        '@babel/plugin-proposal-export-namespace-from',
        'transform-es2015-modules-commonjs',
        [
          'module-resolver',
          {
            'alias' : {
              '$CONFIG'     : './src/config',
              '$SRC'        : './src',
              '$UTILS'      : './src/utils',
              '$COMPONENTS' : './src/components',
              '$CONTAINERS' : './src/containers',
              '$SHAREDCOMP' : './src/components/Shared',
              '$TESTUTILS' : './__test__/utils'
            },
            'root': ['./src'],
          }
        ]
      ]
    }
  },
  'plugins': [
    '@babel/plugin-proposal-export-default-from',
    '@babel/plugin-proposal-export-namespace-from',
    '@babel/plugin-proposal-class-properties'
  ]
}

