{
  'presets' : [
    '@babel/react',
    [
      '@babel/preset-env',
      {
        'targets' : {
          'browsers' : ['last 2 versions', '> 5% in SG', 'not ie <= 10']
        },
        'debug' : true
      }
    ]
  ],
  'env': {
    'test:watch': {
      'plugins': [
        '@babel/plugin-proposal-export-default-from',
        '@babel/plugin-proposal-export-namespace-from',
        'transform-es2015-modules-commonjs',
        [
          'module-resolver',
          {
            'alias' : {
              '$SRC'        : './src',
              '$BUILD'      : './build',
              '$UTILS'      : './src/utils',
              '$TEST_UTILS' : './__test__/utils',
              '$COMPONENTS' : './src/components',
              '$DEMOS'      : './src/components/demos',
              'react'       : './node_modules/react'
            },
            'root': ['./src'],
          }
        ]
      ]
    }
  },
  'plugins': [
    '@babel/plugin-proposal-export-default-from',
    '@babel/plugin-proposal-export-namespace-from',
    '@babel/plugin-proposal-class-properties'
  ]
}

